<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>서버측 유효성 검증</h3>
	<form action="validForm" method="post">
		<ul>
			<li>이름 : <input type="text" name="name"></li><br>
			<li>급여 : <input type="text" name="salary"></li><br>
			<li>전화번호 : <input type="text" name="phone"></li><br>
			<li>이메일 : <input type="text" name="email"></li><br>
			<input type="submit" value="서버측유효성검사">
		</ul>
	</form>
	
</body>
</html>